/* ======= Base ======= */

body {
    font-family: 'Lato', arial, sans-serif;
    color: #444444;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', arial, sans-serif;
    font-weight: 700;
    color: #0e83cd;
}
h4 {
    font-family: 'Lato', arial, sans-serif;
    font-size: 25px;
    font-weight: 400;
}
a {
    color: #0e98c5;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
a:hover {
    text-decoration: none;
    color: #217c5b;
}
h2 {
    text-transform: uppercase;
    font-size: 24px;
    color: #217c5b;
}
h5 {
    font-size: 16px;
    color: #555;
}
.btn, a.btn {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    font-family: 'Lato', arial, sans-serif;
    padding: 12px 16px;
    font-weight: bold;
}
.btn .fa, a.btn .fa {
    margin-right: 5px;
}
.btn:focus, a.btn:focus {
    color: #fff;
}
.btn-pycon {
    background: #34afdc;
    border-radius: 3px;
    color: #fff;
    transition: all 0.4s;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 5px;
}
.btn-pycon:hover {
    background: #1989b3;
    border-radius: 25px;
    color: #fff;
}
a.btn-cta-primary, .btn-cta-primary {
    background: #074f66;
    border: 1px solid #074f66;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
a.btn-cta-primary:hover, .btn-cta-primary:hover {
    background: #053c4e;
    border: 1px solid #053c4e;
    color: #fff;
}
a.btn-cta-secondary, .btn-cta-secondary {
    background: #eebf3f;
    border: 1px solid #eebf3f;
    color: #555;
    font-weight: 600;
    text-transform: uppercase;
}
a.btn-cta-secondary:hover, .btn-cta-secondary:hover {
    background: #ecb728;
    border: 1px solid #ecb728;
    color: #fff;
}
.text-highlight {
    color: #074f66;
}
.offset-header {
    padding-top: 90px;
}
pre code {
    font-size: 16px;
}
/* ======= Header ======= */

.headertop {
    background: linear-gradient(to right, rgba(33, 167, 213, 1) 0%, rgba(33, 167, 213, 1) 36%, rgba(70, 192, 167, 1) 72%, rgba(70, 192, 167, 1) 100%);
    height: 5px;
}
.header {
    padding: 5px 0;
    /* border-top: 5px solid #30a289;*/

    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.4);
    z-index: 9999;
}
.header.navbar-fixed-top {
    background: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.4);
}
.header.navbar-fixed-top .logo a {
    color: #4d3465;
}
.header.navbar-fixed-top .main-nav .nav .nav-item a {
    color: #30a289;
}
.header .logo {
    margin: 0;
    padding-top: 0px;
}
.header .logo a:hover {
    text-decoration: none;
}
.header .main-nav button {
    background: #074f66;
    color: #fff !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.header .main-nav button:focus {
    outline: none;
}
.header .main-nav button .icon-bar {
    background-color: #fff;
}
.header .main-nav .navbar-collapse {
    padding: 0;
}
.header .main-nav .nav .nav-item {
    font-weight: normal;
    margin-right: 5px;
    font-family: 'Lato', arial, sans-serif;
}
.header .main-nav .nav .nav-item.active a {
    color: #34afdc;
    background: none;
}
.header .main-nav .nav .nav-item a {
    color: #30a289;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    font-size: 14px;
    padding: 15px 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.header .main-nav .nav .nav-item a:hover {
    color: #34afdc;
    background: none;
}
.header .main-nav .nav .nav-item a:focus {
    outline: none;
    background: none;
}
.header .main-nav .nav .nav-item a:active {
    outline: none;
    background: none;
}
.header .main-nav .nav .nav-item.active {
    color: #34afdc;
    border-bottom: 3px solid #34afdc;
}
.header .main-nav .nav .nav-item.last {
    margin-right: 0;
}
.introanime {
    color: #074f66;
    background-image: -webkit-linear-gradient(92deg, #eb4411, #fa9c1b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}
/* ======= Home Section ======= */

.home {
    color: #333;
    padding: 50px;
    padding-top: 130px;
}
.home .title {
    font-size: 58px;
    color: #0e98c5;
    margin-top: -10px;
}
.home .title .highlight {
    color: #eebf3f;
    font-family: 'Lato', arial, sans-serif;
}
.home .intro {
    font-size: 22px;
    font-family: 'Lato', arial, sans-serif;
    color: #217c5b;
    padding-bottom: 20px;
}

.home .location {
    font-size: 30px;
    font-family: 'Lato', arial, sans-serif;
    color: #0e83cd;
    padding-bottom: 20px;
}

.home .fa-map-marker {
    padding-right: 5px;
}

.home .btns .btn {
    margin-right: 15px;
    font-size: 18px;
    padding: 8px 30px;
}
.home .meta {
    margin-top: 120px;
    margin-bottom: 30px;
    color: #0a7396;
}
.home .meta li {
    margin-right: 15px;
}
.home .meta a {
    color: #0a7396;
}
.home .meta a:hover {
    color: #074f66;
}
.home .social-media {
    background: #0c86ae;
    padding: 10px 0;
    margin: 0 auto;
}
.home .social-media li {
    margin-top: 15px;
}
.home .social-media li.facebook-like {
    margin-top: 0;
    position: relative;
    top: -5px;
}
.block {
    background: #ddd;
    padding: 10px;
    opacity: 0.8;
    color: #000;
}
@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

/* ======= Venue Section ======= */

.venue {
    background: #ddd;
    background-image: url("../images/venuebg.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15px;
}
.venue .title {
    color: #0e98c5;
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Lato', arial, sans-serif;
}
.venue h3 {
    color: #217c5b;
    font-size: 20px;
    text-transform: capitalize;
    text-align: left;
}
.venue p {
    color: #555;
    font-size: 16px;
    text-transform: capitalize;
    text-align: left;
}
.venue .item {
    position: relative;
    padding: 60px;
    padding-top: 10px;
}
.venue .item img {
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.venue .item .content {
    padding: 40px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    background-image: url('../images/bgimg.jpg');
    background-repeat: repeat;
    margin-top: -10px;
}
.venue .item .content p {
    color: #555;
    font-size: 16px;
    line-height: 25px;
}
.venue .item .content .sub-title {
    margin-top: 0;
    color: #725192;
    font-size: 22px;
    font-family: 'Lato', arial, sans-serif;
    font-weight: 700;
}
.gmap-area {
    margin-top: 30px;
}
.gmap-area .gmap iframe {
    border-radius: 50%;
    height: 400px;
    width: 400px;
}
.gmap-area .gmapborder {
    background: #000;
    padding: 7px;
    border-radius: 50%;
    height: 415px;
    width: 415px;
    background: linear-gradient(to right, rgba(33, 167, 213, 1) 0%, rgba(33, 167, 213, 1) 36%, rgba(70, 192, 167, 1) 72%, rgba(70, 192, 167, 1) 100%);
}
.gmap {
    border-radius: 50%;
    height: 400px;
    width: 400px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.circularmap {
    padding-top: 10px;
}
/* ======= Sponsors Section ======= */

.sponsors {
    padding: 30px;
    background-image: url('../images/bgimg2.jpg');
    background-repeat: repeat;
    color: #fff;
}
.sponsors .title {
    color: #0e98c5;
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Lato', arial, sans-serif;
}
.sponsors .tabbable-panel h2 {
    font-size: 15px;
}
.sponsors .sponsors-inner {
    max-width: 800px;
    background: #fff;
    padding: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin: 0 auto;
}
.sponsors .block {
    margin-bottom: 60px;
}
.sponsors .code-block {
    margin: 30px inherit;
}
.sponsors .code-block pre[class*="language-"] {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.sponsorbox {
    background: linear-gradient(to right, rgba(33, 167, 213, 1) 0%, rgba(33, 167, 213, 1) 36%, rgba(70, 192, 167, 1) 72%, rgba(70, 192, 167, 1) 100%);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    min-height: 350px;
}
.sponsorbox img {
    border-radius: 5px;
    margin: 0 auto;
}

/* ======= Footer Section ======= */

.footer {
    padding: 20px 0 50px 0;
    color: #fff;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #21A7D5),
        color-stop(1, #2477a4)
    );
    background-image: -o-linear-gradient(bottom, #21A7D5 0%, #2477a4 100%);
    background-image: -moz-linear-gradient(bottom, #21A7D5 0%, #2477a4 100%);
    background-image: -webkit-linear-gradient(bottom, #21A7D5 0%, #2477a4 100%);
    background-image: -ms-linear-gradient(bottom, #21A7D5 0%, #2477a4 100%);
    background-image: linear-gradient(to bottom, #21A7D5 0%, #2477a4 100%);
}
.footertop {
    background-image: url('../images/footerbg.png');
    height: 80px;
}
.footer .fa {
    font-size: 20px;
    padding: 5px;
}
.footer .copyright {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
}
.footer ul li {
    list-style: none;
    float: left;
    margin-left: 10px;
    padding-top: 10px;
}
.footer ul li a {
    color: #eebf3f;
    text-decoration: none;
}
.footer .fa-heart {
    color: #fb866a;
}
/* Extra small devices (phones, less than 768px) */

@media (max-width: 767px) {
    .header .main-nav button {
        margin-right: 0;
    }
    .header .main-nav .navbar-collapse {
        padding-left: 15px;
        padding-right: 15px;
        background: #fff;
        position: relative;
        z-index: 9;
    }
    .home .btns .btn {
        margin-right: 0;
        clear: both;
        display: block;
        margin-bottom: 30px;
    }
    .home .title {
        font-size: 66px;
    }
    .home .meta {
        margin-top: 60px;
    }
    .home .meta li {
        float: none;
        display: block;
        margin-bottom: 5px;
    }
    .contact .author-message {
        text-align: center;
    }
    .contact .author-message .profile {
        position: static;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .contact .author-message .speech-bubble {
        margin-left: 0;
    }
    .contact .author-message .speech-bubble:after {
        display: none;
    }
    .contact .social-icons a {
        width: 36px;
        height: 36px;
        padding-top: 7px;
        margin-right: 2px;
    }
    .contact .social-icons a .fa:before {
        font-size: 18px;
    }
    .gmap-area .gmap iframe {
        height: 300px;
        width: 300px;
    }
    .gmap-area .gmapborder {
        height: 315px;
        width: 315px;
    }
    .gmap {
        height: 300px;
        width: 300px;
    }
    .btn-pycon {
        white-space: normal;
    }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */

::-webkit-input-placeholder {
    color: #555;
}
:-moz-placeholder {
    color: #555;
}
::-moz-placeholder {
    color: #555;
}
:-ms-input-placeholder {
    color: #555;
}
img {
    vertical-align: middle;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
.img-rounded {
    border-radius: 3px;
}
.img-thumbnail {
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}
.img-circle {
    border-radius: 50%;
}
.timeline-centered {
    position: relative;
    margin-bottom: 30px;
    margin-top: 50px;
}
.timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table;
}
.timeline-centered:after {
    clear: both;
}
.timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table;
}
.timeline-centered:after {
    clear: both;
}
.timeline-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: #0e98c5;
    /*left: 50%;*/

    top: 20px;
    bottom: 20px;
    margin-left: -9px;
}
.timeline-centered .timeline-entry {
    position: relative;
    /*width: 50%;
        float: right;*/

    margin-top: 5px;
    margin-left: 3px;
    margin-bottom: 40px;
    clear: both;
}
.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}
.timeline-centered .timeline-entry:after {
    clear: both;
}
.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}
.timeline-centered .timeline-entry:after {
    clear: both;
}
.timeline-centered .timeline-entry.begin {
    margin-bottom: 0;
}
.timeline-centered .timeline-entry.left-aligned {
    float: left;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
    margin-left: 0;
    margin-right: -18px;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
    left: auto;
    right: -100px;
    text-align: left;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
    float: right;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
    margin-left: 0;
    margin-right: 70px;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -9px;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -20px;
}
.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}
.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}
.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}
.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
    position: absolute;
    left: -100px;
    text-align: right;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
    display: block;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
    font-size: 15px;
    font-weight: bold;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
    font-size: 12px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    background: #0e98c5;
    color: #737881;
    display: block;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f5f5f6;
    -webkit-box-shadow: 0 0 0 5px #f5f5f6;
    box-shadow: 0 0 0 5px #f5f5f6;
    line-height: 40px;
    font-size: 15px;
    float: left;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    padding: 1em;
    margin-left: 60px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    margin-top: -20px;
    text-align: left
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
    /*  content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f5f5f6 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px;*/
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
    color: #555;
    font-family: 'Lato', arial, sans-serif;
    font-size: 13px;
    margin: 0;
    line-height: 1.428571429;
    text-align: left;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h3 {
    color: #737881;
    font-family: 'Lato', arial, sans-serif;
    font-size: 12px;
    margin: 0;
    line-height: 1.428571429;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
    color: #217c5b;
    font-size: 18px !important;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h3 {
    color: #0e98c5;
    font-size: 23px;
    font-weight: normal;
    margin-bottom: 5px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h6 {
    color: #217c5b;
    font-size: 18px;
    font-weight: normal;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
    color: #555;
    font-size: 13px;
    font-weight: bold;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label hr {
    border: 1px solid #ccc;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
    margin-top: 15px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
    font-size: 16px;
    margin-bottom: 10px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
    color: #303641;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
    -webkit-opacity: .6;
    -moz-opacity: .6;
    opacity: .6;
    -ms-filter: alpha(opacity=60);
    filter: alpha(opacity=60);
}
/* Tabs panel */

.tabbable-panel {
    border: none;
    padding: 10px;
}
/* Default mode */

.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}
.tabbable-line > .nav-tabs > li {
    margin-right: 0px;
}
.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {} .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
    border-bottom: 4px solid #89e0fc;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
    position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
    background: none;
    border-bottom: 4px solid #0e98c5;
}
.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}
.tabbable-line > .tab-content {
    margin-top: -3px;
    border: 0;
    padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}
/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
    border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
    margin-top: 0;
}
.tabbable-line .tab-content > .tab-pane p {
    color: #555;
    text-align: center;
    margin: 10px 100px;
    font-size: 20px;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
    border-bottom: 0;
    border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
    margin-bottom: -2px;
    border-bottom: 0;
    border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}
.wc-footer {
    background: #2477a4;
    text-align: center;
    margin: 0;
}
.wc-footer p {
    color: #fff;
    margin-bottom: 1px;
    font-size: 14px;
}
.wc-footer p a {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
    letter-spacing: 1px;
}
.wc-footer p a:hover {
    color: #6fd8cf;
}
.pulse2 {
    -webkit-animation: pulse2 1s linear infinite;
    -moz-animation: pulse2 1s linear infinite;
    -ms-animation: pulse2 1s linear infinite;
    animation: pulse2 1s linear infinite;
}
@keyframes "pulse2" {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes pulse2 {
    0% {
        -moz-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -moz-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes "pulse2" {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-ms-keyframes "pulse2" {
    0% {
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
#sponsors .tabbable-line .tab-content > .tab-pane p {
    color: #fff;
    text-align: justify;
    margin: 0px;
    padding: 5px;
    font-size: 14px;
}
#sponsors hr {
    border: 1px solid #ddd;
    height: 5
}
footer a {
    color: #fff;
}
footer a:hover {
    color: #eee;
}
.sponsorship {
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 25px;
}
.sponbox li {
    list-style: none;
    padding: 10px 0;
}
.sponbox li .fa {
    color: #217c5b;
}

span.collapse {
    display: inline;
    position: static;
    height: auto;
    opacity: 0;
    -webkit-transition: opacity 0.35s ease;
       -moz-transition: opacity 0.35s ease;
        -ms-transition: opacity 0.35s ease;
         -o-transition: opacity 0.35s ease;
            transition: opacity 0.35s ease;
}
span.collapsing {
    display: inline;
    position: static;
    height: auto;
    opacity: 0;
    -webkit-transition: opacity .35s ease;
         -o-transition: opacity .35s ease;
            transition: opacity .35s ease;
}
span.collapse.in {
    display: inline;
    position: static;
    opacity: 1;
    height: auto;
}
