<div id="about" class="page-wrapper about-section">
  <div class="page-details">
    <div class="title">About</div>
    <div class="description">
      PyCon India is the gathering of Pythonistas in India and
      this year we are gathering online! The 12th
      edition of PyCon India, due to the current situation will
      be taking place online from 2nd October to 5th October 2020.
      We are planning for the conference to be bigger, better,
      and more accessible to Pythonistas all over the world.
    </div>
  </div>
</div>
