<div id="about" class="page-wrapper about-section">
  <div class="page-details">
    <div class="title">About</div>
    <div class="description">
      PyCon India is the largest gathering of Pythonistas in India
      for the Python programming language. The 12th edition of PyCon
      India will be taking place online from 2nd October to 5th October 2020.
      With this unique scenario at hand, we plan to make this year's
      conference bigger, better, and more accessible to Pythonistas all
      across the world who can watch, participate and share their views
      right from the comfort of their homes.
    </div>
  </div>
</div>
