<div id="cfp" class="page-wrapper cfp-section">
  <div class="page-details">
    <div class="title">Call  for Proposals</div>
    <div class="description">
      We have a unique opportunity for you to share what you have learned with others and inspire
      the next generation of audiences. Our community is forever inclined to learn, grow, and
      expand their knowledge. Hence, it welcomes talks of every level. Whether you are a beginner
      filling the proposal for your first talk or have been giving talks for the past 10+ years.
      We encourage you all to draft a proposal, no matter the difficulty level. The virtual nature
      of this annual conference this year gives a unique chance for you to share your insights &
      learnings to the world right from the comforts of your home.
    </div>
    <div class="flex justify-center content">
      <div class="page-points flex flex-column">
        <img src={{ "assets/images/preview-video.svg" | relative_url }} />
        <p class="description">
          Upload preview videos about the topics intended to be covered
        </p>
      </div>
      <div class="page-points flex flex-column">
        <img src={{ "assets/images/editorial.svg" | relative_url }} />
        <p class="description">
          An editorial panel makes the selections
        </p>
      </div>
    </div>
    <div class="content">
      <a class="primary-button" rel="nofollow noreferrer" href="https://in.pycon.org/cfp/2020/proposals/" target="_blank">
        Submit Proposal
        <span><img src={{ "assets/images/forward.svg" | relative_url }} /></span>
      </a>
      <p class="description">
      The last date for submitting your talk proposal is <br/><span class="hightlight"><del>14th August 2020</del></span> <span class="highlight">19th August 2020</span>
      </p>
    </div>
  </div>
</div>
