<div class="footer-wrapper">
  <div class="footer-details">
    <div class="conf-image">
      <img src="/assets/images/conf-footer-logo.svg" />
    </div>
    <div class="copyright-details">
      <div class="copyright-text">Copyright 2020 pycon India</div>
      <div class="mail">contact@in.pycon.org</div>
    </div>
    <div class="social-media-details">
      <div>
        <a href="#">
          <img src="/assets/images/facebook-logo.svg" />
        </a>
      </div>
      <div>
        <a href="#">
          <img src="/assets/images/twitter-logo.svg" />
        </a>
      </div>
      <div>
        <a href="#">
          <img src="/assets/images/instagram-logo.svg" />
        </a>
      </div>
    </div>
  </div>
</div>