<div class="header-wrapper">
  <div class="top-area">
    <div class="left-content">
      <span class="rectangle">
        {% asset dark-lines.svg %}
      </span>
      <span class="circle">
        <!-- <img class="rangoli" -->
        {% asset rangoli.svg class="rangoli" %}
      </span>
    </div>
    <div class="center-content">
      <div class="image-container">
        {% asset rangoli.svg class="rangoli" %} {% asset rangoli-shade.svg
        class="rangoli-shade" %}
      </div>
      <div class="center-details">
        <div class="logo">
          {% asset logo.svg %}
        </div>
        <div class="conference-name">
          {% asset conference-name.svg %}
        </div>
        <div class="year-wrapper">
          <span class="year">2020,</span>
          <span class="status">Online</span>
        </div>
        <div class="apply">
          <a
            rel="nofollow noreferrer"
            href="https://in.pycon.org/cfp/2020/proposals/"
            target="_blank"
            class="primary-button"
          >
            Submit Proposal
            <span>
              {% asset forward.svg %}
            </span>
          </a>
        </div>
        <!-- <img src={{ "assets/images/logo.svg" | relative_url }} /> -->
      </div>
    </div>
    <div class="right-content">
      <span class="lamp">
        {% asset lamp.svg %}
      </span>
      <span class="rectangle">
        {% asset light-lines.svg %}
      </span>
      <span class="circle">
        {% asset rangoli.svg class="rangoli" %}
      </span>
    </div>
  </div>
  <div class="bottom-area shade">
    <div class="additional-details-wrapper">
      {% for item in site.data.conference-details %}
      <div class="{{ item.class }} details-container">
        <div class="image">
          {% asset '{{item.icon}}' %}
        </div>
        <div class="details">
          <div class="sm-title title">{{ item.title }}</div>
          <div class="dates">{{ item.dates }}</div>
          <div class="title">{{ item.title }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
