<div id="outreach-partners" class="page-wrapper sponsor-section">
  <div class="page-details">
    <div class="title">Outreach Partners</div>
      <section class="outreach-grayscale">
        <div class="row">
          <div class="col s4">
            <a href="https://fossunited.org" target="_blank">
              <img class="responsive-img" src={{ "assets/images/partners/foss-united.png" | relative_url }} alt="FOSS United" />
            </a>
          </div>
        </div>
      </section>
  </div>
</div>
