<div id="sponsor" class="page-wrapper sponsor-section">
  <div class="page-details">
    <div class="title">Sponsors</div>
    <div class="description">
      PyCon India is a volunteer-driven event. 
      Sponsoring the event helps bring the volunteers effort to fruition, 
      sustain, and improve the conference and grow the community. 
      Sponsors help us make the conference affordable, 
      bring more facilities to our attendees, 
      and maintain the inventory for the conference.
    </div>
    <p class="description">
      Take a look at
      <a href="{{ '/sponsorship-prospectus' | relative_url }}">Sponsorship Page</a>
      to support PyCon India 2020.
    </p>
    <div class="text-center" style="position: relative;">
      <a class="primary-button" rel="nofollow noreferrer" href="/2020/sponsorship-prospectus.pdf" target="_blank">
        Sponsorship Prospectus
      </a>
    </div>
  </div>
</div>
