<div id="sponsor" class="page-wrapper sponsor-section">
  <div class="page-details">
    <div class="title">Sponsors</div>
    <div class="description">
      PyCon India is a volunteer-driven event.
      Sponsoring the event helps bring the volunteers effort to fruition,
      sustain, and improve the conference and grow the community.
      Sponsors help us make the conference affordable,
      bring more facilities to our attendees,
      and maintain the inventory for the conference.
    </div>
    <div class="text-center">
      <a class="primary-button" rel="nofollow noreferrer" href="{{ 'sponsorship-prospectus.pdf' | relative_url }}" target="_blank">
        Download Sponsorship Prospectus
      </a>
    </div>
  </div>
</div>
