<div id="supporter" class="page-wrapper supporter-section">
  <div class="page-details">
    <div class="title">Supporters</div>
    <div class="description">
      PyCon India is entirely driven by volunteers.
      Sponsoring the event helps to sustain and grow
      the conference as well as the community.
      Sponsors help in making the conference affordable,
      and maintaining the inventory for the conference.
    </div>
    <p class="description">
      Are you interested to support Pycon India 2020? Reach us out at support@pycon.in
    </p>
  </div>
</div>
