---
---
@import "main";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Quicksand;
  font-style: normal;
}

.content {
  margin: rem-calc(50) auto;
  max-width: 75%;
  line-height: rem-calc(40);

  .p {
  font-weight: 400;
  }

  .h3 {
    font-weight: bold;
  }

  .h1 {
    margin: rem-calc(20) 0 rem-calc(50) 0;
  }

  h1#frequently-asked-questions {
    text-align: center;
    color: #EB090D;
  }

  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin: rem-calc(20) 0;
  }

  .ul {
    list-style: initial;
  }
}

.flex {
  display: flex;
  flex: 1;

  .flex-column {
    flex-direction: column
  }

  .justify-center {
    justify-content: center;
  }
}

.header-wrapper {
  width: 100%;
  // height: rem-calc(850);
  background: #000000;
  display: flex;
  flex-direction: column;

  .top-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .left-content {
      position: relative;
      max-width: rem-calc(261);
      width: 19%;

      .rectangle {
        display: flex;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .circle {
        display: flex;
        justify-content: flex-end;
        margin-top: 78px;

        img {
          width: 50%;
          // height:  rem-calc(130);
          opacity: 0.28;
        }

      }
    }

    .center-content {
      width: 52%;
      position: relative;

      .image-container {
        display: flex;

        .rangoli {
          position: absolute;
          width: 11%;
          top: -4%;
          left: -3.5%;
        }

        .rangoli-shade {
          width: 100%;
        }
      }

      .center-details {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: rem-calc(65);

        .logo {
          margin-bottom: rem-calc(41);

          img {
            width: rem-calc(127);
            height: rem-calc(128);
          }
        }

        .conference-name {
          margin-bottom: rem-calc(8);
          img {
            width: rem-calc(283);
            height: rem-calc(50);
          }
        }

        .year-wrapper {
          font-size: 25px;
          font-weight: bold;
          margin-bottom: rem-calc(41);

          .year {
            color: #FCC400;
          }

          .status {
            color: #DF0E12;
          }
        }

        .apply {
          display: flex;
          justify-content: center;
          margin-bottom: rem-calc(22);
        }
      }
    }

    .right-content {
      max-width: rem-calc(339);
      width: 18%;
      position: relative;

      .lamp {
        position: absolute;
        width: 42%;
        left: -56%;
      }

      .rectangle {
        display: flex;
        margin-top: rem-calc(114);

        img {
          width: 100%;
          height: 100%;
        }
      }

      .circle {
        display: flex;
        justify-content: flex-start;
        margin-top: 30%;
        margin-left: -20%;

        img {
          width: 26%;
          opacity: 0.7;
        }

      }
    }
  }

  .bottom-area {
    &.shade {
      background: linear-gradient(180deg, rgba(199, 24, 26, 0.0001) 21.42%, #C7181A 100%);
      width: 100%;
    }

    .additional-details-wrapper {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: rem-calc(850);
      margin: 0 auto;
      padding-top: rem-calc(120);
      padding-bottom: rem-calc(68);

      .details-container {
        display: flex;
        justify-content: center;

        .image {
          margin-right: rem-calc(26);
        }

        &.conference-details {
          img {
            width: rem-calc(34);
            height: rem-calc(68);
          }
        }

        &.workshop-details {
          img {
            width: rem-calc(62);
            height: rem-calc(62);
          }
        }

        &.dev-sprint-details {
          img {
            width: rem-calc(50);
            height: rem-calc(70);
          }
        }

        .details {
          font-weight: bold;

          .dates {
            font-size: rem-calc(20);
            line-height: rem-calc(25);
            color: #ffffff;
            margin-bottom: rem-calc(8);
          }

          .place {
            font-size: rem-calc(16);
            line-height: rem-calc(20);
            color: #ffffff;
            margin-bottom: rem-calc(12);
          }

          .title {
            font-size: rem-calc(24);
            line-height: rem-calc(30);
            color: #F6B700;
          }

          .sm-title {
            display: none;
          }
        }
      }
    }
  }
}

.primary-button {
  font-weight: bold;
  font-size: rem-calc(18);
  line-height: rem-calc(22);
  color: #FFFFFF;
  text-decoration: none;
  padding: rem-calc(13) rem-calc(16) rem-calc(14) rem-calc(16);
  background: linear-gradient(180deg, #FF0006 0%, #C7181A 100%);
  border-radius: rem-calc(5);

  span {
    display: inline-block;
    vertical-align: middle;
    margin-left: rem-calc(16);
  }

  img {
    width: rem-calc(24);
    height: rem-calc(24);
  }
}

.menu-wrapper {
  border: rem-calc(1) solid rgba(224, 13, 17, 0.1);
  background-color: #ffffff;

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  nav {
    max-width: rem-calc(800);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;

    a {
      padding: rem-calc(24) rem-calc(29) rem-calc(26);
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #EB090D;
      text-decoration: none;

      &.active {
        border-bottom: rem-calc(2) solid #F1070C;
      }
    }
  }
}

.page-wrapper {
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid rgba(151, 151, 151, 0.2);
  max-width: 70rem;

  .page-details {
    text-align: center;
    margin: 0 auto;
    max-width: 75%;
    padding-top: rem-calc(65);
    padding-bottom: rem-calc(95);

    .title {
      font-weight: bold;
      font-size: rem-calc(30);
      line-height: rem-calc(37);
      color: #EB090D;
      margin-bottom: rem-calc(33);
    }

    .description {
      font-weight: 500;
      font-size: rem-calc(20);
      line-height: rem-calc(30);
      color: #575757;

      a {
        color: #2F80ED
      }

      span.highlight {
        color: #EB090D;
        font-weight: bold;
      }
    }

    .page-points {
      margin: 0 rem-calc(32);
    }
  }

  &.about-section {
    .sticky-enable {
      padding-top: rem-calc(65);
    }

    .page-details {
      padding-top: rem-calc(81);
    }
  }

  &.speakers-section {
    max-width: rem-calc(932);
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);

    .page-details {
      max-width: rem-calc(565);
      padding-bottom: rem-calc(97);

      .title {
        margin-bottom: rem-calc(62);
      }

      .description {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;

        .speaker-details {
          display: flex;
          flex-direction: column;
          max-width: rem-calc(188);

          .speaker-image {
            margin-bottom: rem-calc(26);
            img {
              width: rem-calc(140);
              height: rem-calc(140);
              border: rem-calc(4) solid #EB090D;
              border-radius: 50%;
            }
          }

          .speaker-name {
            font-weight: bold;
            font-size: rem-calc(18);
            line-height: rem-calc(22);
            color: #F0060B;
            margin-bottom: rem-calc(12);
          }

          .speaker-brief {
            font-weight: 400;
            font-size: rem-calc(14);
            line-height: rem-calc(17);
            text-align: center;
            color: #575757;
          }
        }
      }
    }
  }
}

.footer-wrapper {
  padding-top: rem-calc(78);
  padding-bottom: rem-calc(85);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #B6B6B6 100%);

  .footer-details {
    max-width: rem-calc(932);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    .conf-image {
      img {
        width: rem-calc(219);
        height: rem-calc(66);
      }
    }

    .copyright-details {
      text-align: center;
      padding-top: rem-calc(11);

      .copyright-text {
        font-weight: bold;
        font-size: rem-calc(14);
        line-height: rem-calc(17);
        color: #767676;
        opacity: 0.75;
        margin-bottom: rem-calc(10);
      }

      .mail {
        font-weight: bold;
        font-size: rem-calc(14);
        line-height: rem-calc(17);
        color: #DD0E12;
      }
    }

    .social-media-details {
      padding-top: rem-calc(19);
      display: flex;
      justify-content: space-between;

      div {
        margin-right: rem-calc(32);
      }

      img {
        width: rem-calc(28);
      }
    }
  }
}

.ticket-section {
  .title {
    font-weight: bold;
    font-size: rem-calc(30);
    line-height: rem-calc(37);
    color: #EB090D;
    margin-bottom: rem-calc(33);
  }
}

.title.ticket-type {
  text-align: left;
}

.ticket-wrap {
  width: 100%;
  background: #F7F7F7;
  display: flex;
  margin: 1.5rem 0;
  position: relative;
}

.ticket-wrap::before {
  content: "";
  border-radius: 50%;
  width: 38px;
  height: 38px;
  top: 50%;
  position: absolute;
  margin-top: -19px;
  margin-left: -19px;
  background-color: white;
}

.ticket-wrap::after {
  content: "";
  border-radius: 50%;
  width: 38px;
  height: 38px;
  top: 50%;
  left: 100%;
  position: absolute;
  margin-top: -19px;
  margin-left: -19px;
  background-color: white;
}

.ticket-details {
  flex: 1;
  display: flex;
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.25rem;
  color: #575757;

  .ticket-tag {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
  }

  .ticket-price {
    color: #ED2427;
    font-weight: bold;
  }
}

.ticket-buy {
  width: 25%;
  background: #2F80ED;
  color: #FFFFFF;
  padding: 1.75rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: bold;

  &.few {
    color: #000000;
    background: #FFCC00;
  }

  &.sold {
    background: #FF0006;
  }
}

.ticket-name {
  flex: 1;
  padding: 1.75rem;
  padding-left: 2.5rem;
  padding-right: 1rem;
}

.ticket-price {
  width: 28%;
  padding: 0 1.75rem;
  margin: 1.75rem 0;
  border-left: 1px dashed #000000;
}

// Responsive rules

@media (max-width: 768px) {
  .flex {
    display: block;
  }

  .ticket-wrap::before,
  .ticket-wrap::after {
    content: none;
  }
}

@media (max-width: 640px) {
  .header-wrapper .bottom-area .additional-details-wrapper {
    display: block;
    padding-top: 13rem;

    .details-container .details .title {
      display: none;

      &.sm-title {
        display: block;
      }
    }
  }

  .header-wrapper .top-area .center-content .center-details {
    top: 85%;
  }

  .menu-wrapper nav a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .page-wrapper .page-details {
    max-width: 90%
  }

  .content {
    max-width: 90%;
  }
}

@media (max-width: 512px) {
  .page-wrapper .page-details {
    max-width: 100%
  }

  .content {
    max-width: 100%;
  }

  .ticket-wrap {
    flex-direction: column;

    .ticket-buy {
      width: calc(100% - 3.5rem);
    }
  }
}

// Outreach partner section
.outreach-grayscale {
	.row {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		.col {
			float: left;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 0 0.75rem;
		}
		.col.s4 {
			width: 33.33333%;
			margin-left: 0;
		}
		.col.offset-s4 {
			margin-left: 33.33333%;
		}
		.col.pull-s4 {
			right: 33.33333%;
		}
		.col.push-s4 {
			left: 33.33333%;
		}
	}
	img {
		filter: grayscale(1);
		-webkit-filter: grayscale(1);
		-moz-filter: grayscale(1);
		-o-filter: grayscale(1);
		-ms-filter: grayscale(1);
		&:hover {
			filter: grayscale(0);
			-webkit-filter: grayscale(0);
			-moz-filter: grayscale(0);
			-o-filter: grayscale(0);
			-ms-filter: grayscale(0);
		}
	}
	img.logo {
		width: 30px;
	}
	img.responsive-img {
		max-width: 100px;
		height: auto;
	}
}
