---
---
@import "main";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Quicksand;
  font-style: normal;
}

.content {
  margin: rem-calc(50) auto;
  max-width: 75%;
  line-height: rem-calc(40);

  .p {
  font-weight: 400;
  }

  .h3 {
    font-weight: bold;
  }

  .h1 {
    margin: rem-calc(20) 0 rem-calc(50) 0;
  }

  h1#frequently-asked-questions {
    text-align: center;
    color: #EB090D;
  }

  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin: rem-calc(20) 0;
  }

  .ul {
    list-style: initial;
  }
}

.inner {
  max-width: 50%;
  font-weight: 500;
  line-height: 2rem;

  hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: none;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin: 5em auto;
    width: 60%;
  }
}

.flex {
  display: flex;
  flex: 1;

  &.flex-column {
    flex-direction: column
  }

  &.justify-center {
    justify-content: center;
  }
  &.justify-start {
    justify-content: flex-start;
  }
  &.justify-between {
    justify-content: space-between;
  }
}

.text-center {
     margin: 1em 0;
     text-align: center;
}

.header-wrapper {
  width: 100%;
  // height: rem-calc(850);
  background: #000000;
  display: flex;
  flex-direction: column;

  .top-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .left-content {
      position: relative;
      max-width: rem-calc(261);
      width: 19%;

      .rectangle {
        display: flex;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .circle {
        display: flex;
        justify-content: flex-end;
        margin-top: 78px;

        img {
          width: 50%;
          // height:  rem-calc(130);
          opacity: 0.28;
        }

      }
    }

    .center-content {
      width: 52%;
      position: relative;

      .image-container {
        display: flex;

        .rangoli {
          position: absolute;
          width: 11%;
          top: -4%;
          left: -3.5%;
        }

        .rangoli-shade {
          width: 100%;
        }
      }

      .center-details {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: rem-calc(65);

        .logo {
          margin-bottom: rem-calc(41);

          img {
            width: rem-calc(127);
            height: rem-calc(128);
          }
        }

        .conference-name {
          margin-bottom: rem-calc(8);
          img {
            width: rem-calc(283);
            height: rem-calc(50);
          }
        }

        .year-wrapper {
          font-size: 25px;
          font-weight: bold;
          margin-bottom: rem-calc(41);

          .year {
            color: #FCC400;
          }

          .status {
            color: #DF0E12;
          }
        }

        .apply {
          display: flex;
          justify-content: center;
          margin-bottom: rem-calc(22);
        }
      }
    }

    .right-content {
      max-width: rem-calc(339);
      width: 18%;
      position: relative;

      .lamp {
        position: absolute;
        width: 42%;
        left: -56%;
      }

      .rectangle {
        display: flex;
        margin-top: rem-calc(114);

        img {
          width: 100%;
          height: 100%;
        }
      }

      .circle {
        display: flex;
        justify-content: flex-start;
        margin-top: 30%;
        margin-left: -20%;

        img {
          width: 26%;
          opacity: 0.7;
        }

      }
    }
  }

  .bottom-area {
    &.shade {
      background: linear-gradient(180deg, rgba(199, 24, 26, 0.0001) 21.42%, #C7181A 100%);
      width: 100%;
    }

    .additional-details-wrapper {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: rem-calc(850);
      margin: 0 auto;
      padding-top: rem-calc(120);
      padding-bottom: rem-calc(68);

      .details-container {
        display: flex;
        justify-content: center;

        .image {
          margin-right: rem-calc(26);
        }

        &.conference-details {
          img {
            width: rem-calc(34);
            height: rem-calc(68);
          }
        }

        &.workshop-details {
          img {
            width: rem-calc(62);
            height: rem-calc(62);
          }
        }

        &.dev-sprint-details {
          img {
            width: rem-calc(50);
            height: rem-calc(70);
          }
        }

        .details {
          font-weight: bold;

          .dates {
            font-size: rem-calc(20);
            line-height: rem-calc(25);
            color: #ffffff;
            margin-bottom: rem-calc(8);
          }

          .place {
            font-size: rem-calc(16);
            line-height: rem-calc(20);
            color: #ffffff;
            margin-bottom: rem-calc(12);
          }

          .title {
            font-size: rem-calc(24);
            line-height: rem-calc(30);
            color: #F6B700;
          }

          .sm-title {
            display: none;
          }
        }
      }
    }
  }
}

.primary-button {
  font-weight: bold;
  font-size: rem-calc(18);
  line-height: rem-calc(22);
  color: #FFFFFF;
  text-decoration: none;
  padding: rem-calc(13) rem-calc(16) rem-calc(14) rem-calc(16);
  background: linear-gradient(180deg, #FF0006 0%, #C7181A 100%);
  border-radius: rem-calc(5);
  display: inline-block;

  span {
    display: inline-block;
    vertical-align: middle;
    margin-left: rem-calc(16);
  }

  img {
    width: rem-calc(24);
    height: rem-calc(24);
  }
}

.primary-button.disabled {
  background: linear-gradient(180deg, #C7C7C7 0%, #433F3F 100%);
}

.menu-wrapper {
  border: rem-calc(1) solid rgba(224, 13, 17, 0.1);
  background-color: #ffffff;

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  nav {
    max-width: rem-calc(800);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;

    a {
      padding: rem-calc(24) rem-calc(29) rem-calc(26);
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #EB090D;
      text-decoration: none;

      &.active {
        border-bottom: rem-calc(2) solid #F1070C;
      }
    }
  }
}

.page-wrapper {
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid rgba(151, 151, 151, 0.2);
  max-width: 70rem;

  .page-details {
    text-align: center;
    margin: 0 auto;
    max-width: 75%;
    padding-top: rem-calc(65);
    padding-bottom: rem-calc(95);

    .title {
      font-weight: bold;
      font-size: rem-calc(30);
      line-height: rem-calc(37);
      color: #EB090D;
      margin-bottom: rem-calc(33);
    }

    .description {
      font-weight: 500;
      font-size: rem-calc(20);
      line-height: rem-calc(30);
      color: #575757;

      a {
        color: #2F80ED
      }

      span.highlight {
        color: #EB090D;
        font-weight: bold;
      }
    }

    .page-points {
      margin: 0 rem-calc(32);
    }
  }

  &.about-section {
    .sticky-enable {
      padding-top: rem-calc(65);
    }

    .page-details {
      padding-top: rem-calc(81);
    }
  }

  &.speakers-section {
    max-width: rem-calc(932);
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);

    .page-details {
      max-width: rem-calc(565);
      padding-bottom: rem-calc(97);

      .title {
        margin-bottom: rem-calc(62);
      }

      .description {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;

        .speaker-details {
          display: flex;
          flex-direction: column;
          max-width: rem-calc(188);
          margin: 1rem 0;

          .speaker-image {
            margin-bottom: rem-calc(26);
            img {
              width: rem-calc(140);
              height: rem-calc(140);
              border: rem-calc(4) solid #EB090D;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          .speaker-name {
            font-weight: bold;
            font-size: rem-calc(18);
            line-height: rem-calc(22);
            color: #F0060B;
            margin-bottom: rem-calc(12);
          }

          .speaker-brief {
            font-weight: 400;
            font-size: rem-calc(14);
            line-height: rem-calc(17);
            text-align: center;
            color: #575757;
          }
        }
      }
    }
  }

  // supporter section styles
  .supporter-section {
    position: relative;
    .supporter{
      margin-top: 1rem;
    }
    .level-heading {
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 1rem;
      color: #010101;
      border: 2px solid #DF0E12;
      border-radius: 5px;
      width: 140px;
      margin: 2.0625rem auto auto auto;
      padding: 1rem;
    }

    .level-list {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      flex-wrap: wrap;

      .supporter-logo {
        cursor: pointer;
        img {
          margin-top: 1rem;
          width: rem-calc(200);
          height: rem-calc(150);
          object-fit: cover;
        }
      }

      .hover-container{
        z-index:1000;
        position: absolute;
        left: 1%;
        width: 50vw;
        .hover-container-content{
          padding: 0rem 1rem 1rem 1rem;
          background: #ffffff;
          border: 1px solid #C4C4C4;
          border-radius: 12px;
          border-radius: 1rem;
          margin: 0 auto;
          box-shadow:	-2px 6px 5px -3px rgba(0,0,0,0.46);;

          &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            bottom: 100%;
            left: 50%;
            border: .75rem solid transparent;
            border-top: none;

            border-bottom-color: #fff;
            filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
          }

          .hover-container-content-close-btn{
            color: #ED2427;
            .btn-box{
              background: #F7F3F3;
              border-radius: 1px;
              padding: 0rem 0.5rem 0.1rem 0.5rem;
              &:hover{
                cursor: pointer;
              }
            }
         }

         .hover-container-content-description{
           line-height: 2rem;
         }

         .hover-container-content-link a{
           padding: 0.2rem 1.5rem;
           font-weight: bold;
           background:#ED2427;
           color: #FFFFFF;
           text-decoration: none;
           border-radius: 20px;
        }
        }
      }

      .text-right{
        text-align: right;
      }
    }
  }
}

.footer-wrapper {
  padding-top: rem-calc(78);
  padding-bottom: rem-calc(85);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 70%, #B6B6B6 100%);

  .footer-details {
    max-width: rem-calc(932);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    .conf-image {
      img {
        width: rem-calc(219);
        height: rem-calc(66);
        align-self: center;
      }
    }

    .copyright-details {
      text-align: center;
      padding-top: rem-calc(11);

      .copyright-text {
        font-weight: bold;
        font-size: rem-calc(14);
        line-height: rem-calc(17);
        color: #767676;
        opacity: 0.75;
        margin-bottom: rem-calc(10);
      }

      .mail {
        font-weight: bold;
        font-size: rem-calc(14);
        line-height: rem-calc(17);
        color: #DD0E12;
      }
    }

    .social-media-details {
      padding-top: rem-calc(19);
      display: flex;
      justify-content: space-between;

      div {
        margin-right: rem-calc(32);
      }

      img {
        width: rem-calc(28);
      }
    }
  }
}

.ticket-section {
  .title {
    font-weight: bold;
    font-size: rem-calc(30);
    line-height: rem-calc(37);
    color: #EB090D;
    margin-bottom: rem-calc(33);
  }
}

.title.ticket-type {
  text-align: left;
}

.ticket-wrap {
  width: 100%;
  background: #F7F7F7;
  display: flex;
  margin: 1.5rem 0;
  position: relative;
}

.ticket-wrap::before {
  content: "";
  border-radius: 50%;
  width: 38px;
  height: 38px;
  top: 50%;
  position: absolute;
  margin-top: -19px;
  margin-left: -19px;
  background-color: white;
}

.ticket-wrap::after {
  content: "";
  border-radius: 50%;
  width: 38px;
  height: 38px;
  top: 50%;
  left: 100%;
  position: absolute;
  margin-top: -19px;
  margin-left: -19px;
  background-color: white;
}

.ticket-details {
  flex: 1;
  display: flex;
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.25rem;
  color: #575757;

  .ticket-tag {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
  }

  .ticket-price {
    color: #ED2427;
    font-weight: bold;
  }
}

.ticket-buy {
  width: 25%;
  background: #2F80ED;
  color: #FFFFFF;
  padding: 1.75rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: bold;

  &.few {
    color: #000000;
    background: #FFCC00;
  }

  &.sold {
    background: #FF0006;
  }
}

.ticket-name {
  flex: 1;
  padding: 1.75rem;
  padding-left: 2.5rem;
  padding-right: 1rem;
}

.ticket-price {
  width: 28%;
  padding: 0 1.75rem;
  margin: 1.75rem 0;
  border-left: 1px dashed #000000;
}

// Schedule rules
.date {
  font-weight: bold;
  margin-right: 2rem;
  cursor: pointer;

  &.active {
    color: #EB090D;
    border-bottom: 4px solid #EB090D;;
  }
  &.show-sm {
    display: none;
  }
}

a.calendar {
  text-decoration: none;
  display: block;
  color: black;
  text-decoration: none;
  &[href]:hover {
    text-decoration: underline;
  }
}

.schedule-container {
  display: none;
  margin-top: 2rem;

  &.active {
    display: flex;
  }


  &.show-sm {
    display: none;
  }
  .schedule-item {
    font-weight: bold;
    text-align: left;

    .schedule-time {
      width: 10%;
      padding-right: 1.5rem;
      border-right: 1px solid #D6D6D6;
      position: relative;

      span {
        width: 100%;
        display: inline-block;
        line-height: 1.5;
      }

      &:after {
        content: " ";
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: #EB090D;
        position: absolute;
        top: 1rem;
        left: 100%;
        margin-left: -4.5px;
      }
    }
    .schedule-content {
      flex: 1;
      margin: 0.65rem 0;
      margin-left: 2rem;

      .talk-content {
        border-radius: 10px;
        background: #F2F2F2;
        padding: 0.75rem 1rem;
        text-align: center;
        width: calc(20% - 0.25rem);
        margin-right: 0.5rem;

        .talk-title {
          line-height: rem-calc(22);
          font-size: rem-calc(14);
          a {
            display: block;
            color: black;
            text-decoration: none;
            &[href]:hover {
              text-decoration: underline;
            }
          }
          .talk-speaker {
            font-weight: normal;
          }
        }

        &:last-of-type {
          margin-right: 0;
        }

        &.special {
          font-size: rem-calc(16);
          line-height: rem-calc(28);
          background: #FFDA58;
          margin-right: 0;
          width: 100%;
        }

        &.track-all {
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }
}

// Responsive rules

@media (max-width: 768px) {
  .flex {
    display: block;

    &.dates {
      display: flex;
    }
  }

  .ticket-wrap::before,
  .ticket-wrap::after {
    content: none;
  }

  .header-wrapper .top-area .center-content .center-details {
    top: 85%;
  }

  .header-wrapper .bottom-area .additional-details-wrapper {
    display: block;
    padding-top: 15rem;
  }

  .footer-wrapper .footer-details{
    align-items: center;
    justify-content: center;

    .conf-image{
      img {
        margin-right: rem-calc(48);
      }
    }
  }

  .social-media-details {
    margin-top: 1rem;
    align-self: center;
    justify-content: space-around;
  }

  .schedule-container {
    &.hidden-sm {
      display: none;
    }

    &.active.show-sm {
      display: block;
    }
  }

  .schedule-container .schedule-item .schedule-content {
    margin-left: 0;
    .talk-content {
      width: calc(95% - 1rem);
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      .talk-title {
        text-align: left;
        flex: 1;
      }
      .talk-time {
        margin-left: 1.75rem;
      }

      &.special {
        width: calc(95% - 1rem);
      }

      &.track-all {
        width: calc(95% - 1rem);
      }
    }
  }

  .date {
    &.hidden-sm {
      display: none;
    }

    &.show-sm {
      display: block;
    }
  }

}

@media (max-width: 1024px) {
  #schedule .page-details {
    max-width: none;
  }
}

@media (max-width: 640px) {
  .header-wrapper .bottom-area .additional-details-wrapper {
    display: block;
    padding-top: 13rem;

    .details-container .details .title {
      display: none;

      &.sm-title {
        display: block;
      }
    }
  }

  .header-wrapper .top-area .center-content .center-details {
    top: 85%;
  }

  .menu-wrapper nav a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .page-wrapper .page-details {
    max-width: 90%
  }

  .content {
    max-width: 90%;
  }

  .footer-wrapper {
    .footer-details {
      justify-content: space-around;

      .conf-image {
        order: 1
      }

      .copyright-details {
        order: 3
       }

      .social-media-details {
        order: 2
      }
    }
  }
}

@media (max-width: 512px) {
  .page-wrapper .page-details {
    max-width: 100%
  }

  .content {
    max-width: 95%;
  }

  .ticket-wrap {
    flex-direction: column;

    .ticket-buy {
      width: calc(100% - 3.5rem);
    }
  }

  .footer-wrapper .footer-details{
    align-items: center;
    flex-direction: column;
  }

  .social-media-details {

    div {
      margin-left: rem-calc(16);
      margin-right: rem-calc(16);
    }
  }

  .logo {
    margin-top: 10rem;
  }
  .header-wrapper .bottom-area .additional-details-wrapper {
    padding-top: 18rem;
  }

}
